footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: center; /* Zentriert den Text im Footer */
}