/* Header fixieren */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Vertikale Ausrichtung des Textes */
    justify-content: space-between; /* Platzierung von Logo und Logout-Button */
    position: fixed; /* Fixiert den Header oben */
    box-sizing: border-box;
    top: 0; /* Header bleibt oben */
    left: 0;
    width: 100%; /* Header nimmt volle Breite ein */
    z-index: 1000; /* Header bleibt immer oben */
}

header img {
    height: 40px;
    margin-right: 15px;
}

header h1 {
    margin: 0; /* Verhindert, dass der Titel eine zusätzliche Margen hat */
    flex-grow: 1; /* Der Titel wächst, um den verbleibenden Platz im Header zu nutzen */
}

header .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    position: absolute; /* Absolute Positionierung */
    right: 20px; /* Abstand vom rechten Rand */
    top: 50%; /* Vertikal mittig im Header */
    transform: translateY(-50%); /* Korrektur für exakte Mitte */
}

header .logout-button:hover {
    background-color: #d32f2f;
}