main {
    flex: 1;
    margin-left: 250px; /* Sidebar Platz */
    margin-right: 300px; /* Abstand bis zum Mascot */
    padding: 20px;
    margin-top: 60px; /* Abstand nach dem Header */
    overflow-y: auto;
    position: relative; /* Verhindert, dass der Main-Bereich hinter die Sidebar verschwindet */
}